.header{
    display: flex;
    justify-content: space-between;
    padding-inline: 48px;
    background-color: #212121;
    padding-block: 8px;
    color: white;
}

.logo{
    padding: 8px;
    background: #757575;
    border-radius: 4px;
}

.header input{
    background: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 2px solid #dbdbdb;
    padding-inline: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    outline: none;

    color: #fafafa7a;
    transition: all 250ms ease;
}

.header input:hover{
    background: rgba(255, 255, 255, 0.1);
}

.header input:focus{
    border-color: #bb86fc;
}